div#container {
    width: 100%;
    display: flex;
}

div#con {
    width: 60%;
    margin: 2rem auto;
}

@media screen and (max-width: 431px) {
    div#con {
        margin: 0.5rem 0;
        width: 100%;
    }
}

@media screen and (max-width: 431px) {
    iframe {
        width: 391px;
    }
}

div#video {
    max-width: 100%;
}

div#challenges {
    position: relative;
    margin: 3rem 0;
}

h2.texts {
    color: lightgrey;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Iansui';
}

p#text {
    font-family: 'Yrsa';
    color: white;
    font-size: 1.2rem;
    width: 60%;
}

@media screen and (max-width: 431px) {
    p#text {
        width: 100%;
    }
}

h2.goals {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Iansui';
}

div#sostenibilita {
    display: inline-grid;
    width: 32%;
}

img#sostenibilita {
    width: 250px;
    box-shadow: 0 0 .8em #888f98;
    border-radius: 1rem;
    margin: 1rem 0;
}

@media screen and (max-width: 431px) {
    img#sostenibilita {
        width: 125px;
    }
}

p#textSostebilità,
p#textSostenibilita2,
p#textSostenibilita3 {
    color: white;
    font-family: 'Iansui';
    width: 90%;
}

@media screen and (max-width: 431px) {
    p#textSostebilità,
    p#textSostenibilita2,
    p#textSostenibilita3 {
        width: 100%;
    }
}

div#impact {
    position: relative;
    margin: 3rem 0;
    display: block;
}

h2.materials {
    color: white;
    text-transform: uppercase;
    font-family: 'Iansui';
    font-size: 1.8rem;
}

p#textImpact {
    color: white;
    width: 50%;
    font-family: 'Yrsa';
    display: inline-grid;
    position: relative;
    bottom: 13rem;
    font-size: 1.05rem;
}

@media screen and (max-width: 431px) {
    p#textImpact {
        bottom: 10rem;
        width: 50%;
        display: inline-grid;
    }
}

img#impacts {
    width: 45%;
    margin-left: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 441px) {
    img#impacts {
        margin: 0;
    }
}

div#circularSolutions {
    position: relative;
    margin: 3rem 0;
    display: block;
}

h2#circularSolutions {
    color: white;
    text-transform: uppercase;
    font-family: 'Iansui';
    font-size: 2rem;
}

p#textCircularSolutions {
    width: 50%;
    color: white;
    font-family: 'Yrsa';
    display: inline-grid;
    position: relative;
    bottom: 13rem;
}

@media screen and (max-width: 431px) {
    p#textCircularSolutions {
        bottom: 10rem;
    }
}

img#circular {
    width: 45%;
    margin-left: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 441px) {
    img#circular {
        margin: 0;
    }
}

div#recycle {
    position: relative;
    margin: 3rem 0;
}

h2#recycle {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: math;
}

img#recycleImg {
    width: 35%;
}

h3#subtitleRecycle,
h3#article,
h3#titleRecreation {
    font-family: 'Iansui';
}

@media screen and (max-width: 431px) {
    h3#subtitleRecycle,
    h3#article,
    h3#titleRecreation {
        font-size: 1rem;
    }
}

p#textRecycle,
p#textReconditionedItems,
p#textRecreation {
    color: white;
    font-family: 'Ponomar';
    width: 90%;;
}

@media screen and (max-width: 431px) {
    p#textRecycle,
    p#textReconditionedItems,
    p#textRecreation {
        font-size: 1rem;
    }
}

@media screen and (max-width: 431px) {
    p#textReconditionedItems {
        position: relative;
        top: -1rem;
    }
}

div.articles {
    display: inline-grid;
    width: 33%;
}

@media screen and (max-width: 431px) {
    div.articles {
        width: 30%;
    }
}

img#recycleImg,
img#imgReconditioned,
img#imgRecreation {
    width: 75%;
    height: 200px;
}

@media screen and (max-width: 431px) {
    img#recycleImg,
    img#imgReconditioned,
    img#imgRecreation {
        width: 100%;
        height: 120px;
    }
}

img#imgRecreation {
    border-left: 0.5rem solid white;
    border-right: 0.5rem solid white;
}